%h2
  About CoffeeMaker
%p
  CoffeeMaker is an app that uses a Ruby backend, Sinatra, Rack, with a modern
  front end, Backbone.js, Haml, Sass, to create a simple application that
  provides a minimalistic design for a coffee machine.
%p
  The idea behind this app is to be extremely simple and intuitive. At the same
  time, it's supposed to be elegant and aesthetically pleasing. In the future,
  this app may be an informational kind of app, or it can be used for different
  purposes, Backbone.js allows this app to be extremely modular.

