!!! 5
%html

  %head
    %script{ :src => "javascripts/underscore.js" }
    %script{ :src => "javascripts/jquery.js" }
    %script{ :src => "javascripts/backbone.js" }
    %script{ :src => "javascripts/application.js" }
    %link{ :rel => "stylesheet", :href => "stylesheets/main.css" }

  %body
    #container
      #coffeeCup
        #coffee
          #cream
      #controls
        #sugarUI
          .amount
          %button.add
            Add Sugar
        #creamUI
          .amount
          %button.add
            Add Cream
        #cupUI
          %button#stirUI
            Stir
