!!! 5
%html

  %head
    %script{ :src => "javascripts/underscore.js" }
    %script{ :src => "javascripts/jquery.js" }
    %script{ :src => "javascripts/backbone.js" }
    %script{ :src => "javascripts/application.js" }
    %link{ :rel => "stylesheet", :href => "stylesheets/main.css" }

  %body
    #container
      #coffeeCup
        #coffee
          #cream
      #controls
        #sugarUI
          .amount
          %a.add{ :href => "#" }
            Sugar
        #creamUI
          .amount
          %a.add{ :href => "#" }
            Cream
