#coffeeCup
  #coffee
    #cream
    #unstirred-cream
#controls
  #sugarControls
    .amount
    %button.add
      Add Sugar
  #creamControls
    .amount
    %button.add
      Add Cream
  #cupControls
    %button#stir
      Stir
