!!! 5
%html
  %head
    %title
      CoffeeMaker
    %script{ :src => "javascripts/underscore.js" }
    %script{ :src => "javascripts/jquery.js" }
    %script{ :src => "javascripts/backbone.js" }
    %script{ :src => "javascripts/application.js" }
    %script{ :src => "javascripts/navBar.js" }
    %link{ :rel => "stylesheet", :href => "stylesheets/main.css" }

  %body
    #container
      #header
        %h1#header-title
          CoffeeMaker
        #nav
          .nav-item
            %a.home{ :href => "/" }
              Home
          .nav-item
            %a.about{ :href => "/about" }
              About
      = yield

