* {
  position: relative;
}

#coffeeCup {
  height:         300px;
  width:          150px;
  display:        block;
  float:          left;
}

#coffee {
  height:         300px;
  width:          150px;
  background:     black;
}

#cream {
  height:         300px;
  width:          150px;
  background:     #FFFDD0;
  opacity:        0;
}

#controls {
  float:          left;
  display:        block;
}
