*
  position: relative

#coffeeCup
  height:         300px
  width:          150px
  display:        block
  float:          left

#coffee
  height:         300px
  width:          150px
  background:     black

#cream
  position:       absolute
  height:         300px
  width:          150px
  background:     #FFFDD0
  opacity:        0

.sugarCube
  position:       absolute
  height:         50px
  width:          50px
  background:     white

#controls
  float:          left
  display:        block
