*
  margin:                 0
  padding:                0
  position:               relative
  font-family:            'Sigmar One'
  color:                  #290000

body
  background:             white

.wrapper
  margin:                 auto
  width:                  960px

#header
  background:             #00592d
  padding:                10px 0 0 30px
  height:                 100px

  #header-title
    font-size:            50px
    display:              inline-block

  #nav
    display:              inline-block
    margin:               0 0 0 150px
    font-size:            35px

    .nav-item
      display:            inline-block
      margin:             0 20px 0 0
      padding:            0 5px 0 5px
      border-bottom:    thin dashed #2a2a2a

      a
        text-decoration:  none
        color:            black

      &:hover
        border-bottom:  thin solid #2a2a2a

.container
  padding:                20px 0 0 0

#coffeeCup
  display:                inline-block
  margin:                 0 0 0 350px
  height:                 300px
  width:                  150px

  #coffee
    height:               300px
    width:                150px
    background:           black

    #cream
      position:           absolute
      height:             300px
      width:              150px
      background:         #FFFDD0
      opacity:            0

    #unstirred-cream
      position:           absolute
      height:             0
      width:              150px
      background:         #FFFDD0

    .sugarCube
      position:           absolute
      height:             50px
      width:              50px
      background:         white

#controls
  display:                inline-block
